@import "../styles";
@import "../styles/variables";

.contact-list {
  min-width: 225px;
  height: calc(100vh - 65px);
  position: sticky;
  top: 65px;
}

.contact-list__item {
  position: relative;
  padding-block: 1.5rem !important;
  justify-content: start !important;

  &__content {
    text-align: left;
  }
}
