@import "variables";

.sidebar {
  position: sticky;
  top: 65px;
  min-height: calc(100vh - 65px);
  border-right: 1px solid $gray-6;
}

.sidebar_section-item {
  display: flex;
  justify-content: flex-start;
}
