@import "https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/green.css";
@import "https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/violet.css";
@import "https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/gray.css";

$green-1: var(--green-1);
$green-2: var(--green-2);
$green-3: var(--green-3);
$green-4: var(--green-4);
$green-5: var(--green-5);
$green-6: var(--green-6);
$green-7: var(--green-7);
$green-8: var(--green-8);
$green-9: var(--green-9);
$green-10: var(--green-10);
$green-11: var(--green-11);
$green-12: var(--green-12);

$violet-1: var(--violet-1);
$violet-2: var(--violet-2);
$violet-3: var(--violet-3);
$violet-4: var(--violet-4);
$violet-5: var(--violet-5);
$violet-6: var(--violet-6);
$violet-7: var(--violet-7);
$violet-8: var(--violet-8);
$violet-9: var(--violet-9);
$violet-10: var(--violet-10);
$violet-11: var(--violet-11);
$violet-12: var(--violet-12);

// Gray colors
$gray-1: var(--gray-1);
$gray-2: var(--gray-2);
$gray-3: var(--gray-3);
$gray-4: var(--gray-4);
$gray-5: var(--gray-5);
$gray-6: var(--gray-6);
$gray-7: var(--gray-7);
$gray-8: var(--gray-8);
$gray-9: var(--gray-9);
$gray-10: var(--gray-10);
$gray-11: var(--gray-11);
$gray-12: var(--gray-12);
