@import "./styles/variables";

* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

button {
  cursor: pointer !important;
}

body {
  padding: 0;
  margin: 0;
}

.border-red {
  border: 1px solid red;
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

// GENERIC STYLES
.header,
.sidebar,
.main-content__section {
  background-color: $gray-1;
}

.main-content__section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 300vh;
}

.overlay {
  position: fixed;
  z-index: 900;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
